



<h3><strong><em>QUESTION BOARD</em></strong> where all questions have answers.</h3>

<h2>Questions</h2>

<ul>
  {{#each model.questions as |question|}}
     <li>{{#link-to 'question' question.id}}{{question.questionAuthor}} ask's {{question.question}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
